
@{
    ViewBag.Title = "About";
}
<div class="aboutNav"></div>

<section>
    <div>
        <h2>Om CGV</h2>
        <p>
            C. Gunnarssons Verkstads AB har i mer än 60 år varit en maskinleverantör till sågverksindustrin med Sverige som huvudmarknad.
            Vi är ett familjeföretag med en platt organisation där våra medarbetare är med och formar verksamheten och är delaktiga i relationen med våra kunder.

            C.Gunnarssons Verkstads AB kommer fortsätta att utveckla och producera utrustning för virkeshantering med modern teknologi och genuint kunnande, för att möta den högsta standarden på marknaden.
            Att vi får möjlighet att utveckla moderna maskiner är mycket tack vare vår goda relation till våra kunder.
        </p>
    </div>
    <div>
        <h2>Samarbetspartners</h2>
        <p>
            C.Gunnarssons Verkstads AB har med tiden skapat kontakter med framför allt Kanadesiska leverantörer av sågverksutrustning.
            Detta har resulterat i ett teknikutbyte som varit lyckosamt för alla parter. CGV har fått tillgång till en del utrustning som kompletterat våra egna produkter och vår egen teknik har använts i Nord-Amerika.

            Exempel på företag som vi samarbetar med är:
        </p>
    </div>
    <div>
        <strong><a href="http://www.autolog.com/en/home.html" target="_blank">Autolog</a></strong>
        <p>
            Är en leverantör av automation och skannersystem från Montreal.
            Vi har tillsammans levererat 12st 3D skannersystem baserat på lasermäthuvuden från LMI och Hermery Opto.
        </p>
    </div>
    <div>
        <strong><a href="http://www.gilbert-tech.com/en/" target="_blank">Gilbert Products Inc.</a></strong>
        <p>
            Är en leverantör av höghastighets hyvlar och klyvar från Kanada.
            CGV har reservdelar för Europa marknaden.
        </p>
    </div>
    <div>
        <strong><a href="http://www.carbotech.ca/index.php?&newlang=eng" target="_blank">Carbotech International</a></strong>
        <p>
            Är en leverantör av brädhanterings utrustning från Kanada.
            Tillsammans har vi levererat ett flertal anläggningar, vilka har anpassats för den svenska marknaden.
        </p>
    </div>
</section>