<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/Site.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="mainNav">
        <div>
            <div class="navbar-header">
                <a href="/home/"><img src="~/Content/Images/CGV transparent.png" /></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a onclick="scrollToEle('newsPart')">Nyheter</a></li>
                    <li><a onclick="scrollToEle('råsortering')">Råsortering</a></li>
                    <li><a onclick="scrollToEle('justerverk')">Justerverk</a></li>
                    <li><a onclick="scrollToEle('automation')">Automation</a></li>
                    <li><a onclick="scrollToEle('eftermarknad')">Eftermarknad</a></li>

                    <li><a href="/about/">Om CGV</a></li>

                    <li><a href="/contact/">Kontakt</a></li>

                    <li></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content">
        @RenderBody()

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
    <footer class="mainFooter">
        <div class="col-md-4" id="col1">
            <img src="~/Content/Images/CGV transparent.png" />
           
        </div>
        <div class="col-md-4" id="col2">
            <p>
                <a href="#" title="Kontakt">Kontakt</a>
            </p>
            <p>
                <a href="#" title="Samarbetspartners">Samarbetspartners</a>
            </p>
            <p>
                <a href="#" title="Support">Support</a>
            </p>
            <p>
                <a href="#" title="Export">Export</a>
            </p>
        </div>
        <div class="col-md-4" id="col3">
        <p class="info"><span class="glyphicon glyphicon-map-marker"></span><strong> C.Gunnarssons Verkstads AB</strong>
            <br>
        </p>

        <p class="adress"> 
            Olvägen 22
            <br>
            342 50 Vislanda
        </p>
        
        <p class="info">
            <strong><span class="glyphicon glyphicon-earphone"></span> Växel:</strong> +46 472 34330
            <br>
           <strong><span class="glyphicon glyphicon-envelope"></span>  Mail:</strong><a href="#" title="mejl"> mail@cgv.se</a>
        </p>
        </div>



    </footer>
</body>
</html>