
@{
    ViewBag.Title = "Home";
}


<header class="masthead text-center text-white d-flex">
    <div class="CGVHome">
        <h1><strong>C.GUNNARSSONS VERKSTAD AB</strong></h1>
        <hr>
        <p>C.Gunnarssons Verkstads AB utvecklar och producerar utrustning för</p>
        <p> virkeshantering med modern teknologi och genuint kunnande.</p>
        
    </div>
</header>


<section class="fluid" id="newsPart">

    <div class="left">
        <h1>Kontakta oss!</h1>
        <p class="newsP">
            C.Gunnarssons Verkstads AB har huvudkontor med administration, produktion, mekanisk konstruktion och försäljning i Vislanda.
            <br />
            Adress:<br />
            C.Gunnarssons Verkstads AB<br />
            Olvägen 22<br />
            34250 Vislanda<br />
            <br />
            I Växjö finns automationsavdelningen med programmering och support.<br />
            <br />
            Adress:<br />
            C.Gunnarssons Verkstads AB<br />
            Automationsavdelning<br />
            Arabygatan 11<br />
            352 46 Växjö<br />
        </p>
    </div>

    <div class="right">
        <div class="news-widget">
            <h2 id="newsHeader"><strong>Nyheter</strong></h2>
            <hr id="newsHR">
            <a href="#">Uppstart i Estland</a>
            <p>Skriven 2016-08-05 10:37 av admin</p>

            <a href="#">Eftermarknad</a>
            <p>Skriven 2015-08-28 12:07 av admin</p>

            <p>Ulrik förstärker CGV på eftermarknad.</p>

            <a href="#">Läs mer</a>
        </div>
    </div>
</section>

<section class="fluid" id="råsortering">
    <div class="left-half">

    </div>
    <div class="right-half">
        <article>
            <div class="rasort">
                <h1>Råsortering</h1>

                <h3>CGV har idag system och produkter som passar både stora och små sågverk.</h3>
                <p class="sectionP">
                    Vår ambition är att våra konstruktioner skall präglas av en hög innovationsnivå samtidigt som de inte skall vara onödigt komplicerade då det ofta leder
                    till dålig tillgänglighet och höga underhållskostnader..
                </p>
            </div>
            <div class="readRåsort">
                <a href="#" class="icon-link-item">
                    <div class="icon-bar read-more glyphicon glyphicon-log-in">

                    </div>
                    <p class="readP">
                        <b><strong>Läs mer</strong></b>
                    </p>
                </a>
            </div>
        </article>
    </div>
</section>

<section class="fluid justerverk">
    <div class="justerverkLeft">
        <div class="justerv">
            <h1 id="h1Padding">Justerverk/hyvleri</h1>
            <h3><strong> Under dom senaste åren har det skett stora förändringar när det gäller slut sorteringen på sågverken.</strong></h3>
            <p class="sectionP">Med dessa system tar man bort begränsningen som människan har för att sortera virke och sorteringen blir helt konsekvent oavsett hur länge man kör.</p>
            <p class="sectionP">Det har byggts ett antal högkapacitets hyvlerier i Sverige som CGV har fått förmånen att leverera till Vida Vislanda, Södra Timber Långasjö och Holmen Timber Braviken.</p>
        </div>
        <div class="readJusterverk">
            <a href="#" class="icon-link-item item-justerverk">
                <div class="icon-bar read-more glyphicon glyphicon-log-in">

                </div>
                <p class="readP">
                    <b><strong>Läs mer</strong></b>
                </p>
            </a>
        </div>
    </div>
    <div class="justerverkRight">

    </div>


</section>

<section class="fluid autom" id="automation">
    <div class="automationLeft">

    </div>
    <div class="automationRight">
        <div class="automationText">
            <h1 id="h1Padding">Automation</h1>
            <p>
                Kraven på styrsystemens prestanda ökar ständigt, då detta står i direkt relation med maskinens kapacitet.
                2005 började vi undersöka marknaden efter system som vi ansåg lämpligt för att styra sorterings-anläggningar.
                Efter en gedigen undersökning beslöt vi att gå över till en PC-baserad lösning från Beckhoff Automation GmbH.

                Det koncept som CGV arbetat fram ligger definitivt i framkant med vad som finns tillgängligt på marknaden idag. För våra kunder innebär det att maskinerna har tillgång till kraftfulla styrsystem som kan utvecklas med maskinen.
            </p>
        </div>
        <div class="readAutomation">
            <a href="#" class="icon-link-item item-automation">
                <div class="icon-bar read-more glyphicon glyphicon-log-in">

                </div>
                <p class="readP">
                    <b><strong>Läs mer</strong></b>
                </p>
            </a>
        </div>
    </div>
</section>

<section class="fluid" id="eftermarknad">
    <div class="eftermarknadLeft">
        <div class="eftermarknadText">
            <h1 id="h1Padding">Eftermarknad</h1>
            <p>
                Skall man undvika onödiga driftstopp är det naturligt att jobba med ett förebyggande underhåll.
                Då kan man i god tid byta ut delar som är slitna och därigenom undvika haverier.
                Med dokumentationen till maskiner som levereras, medföljer reservdelslistor som gör det enklare att beställa rätt reservdel.
                För att beställa reservdelar mejlar ni enklast till aftermarket@cgv.se.

                Behöver man en personlig kontakt, kan ni kontakta Ulrik Gustafsson på telefon eller mejl.

                Man kan även boka besiktning eller servicebesök av CGV för att få förslag på lämpligt underhåll eller uppgradering.
                Detta är ofta en bra ide då service personalen kanske har erfarenhet från liknande anläggningar och då kan ge förslag på förbättringar.
            </p>
        </div>
    </div>
    <div class="eftermarknadRight">

    </div>

</section>

