
@{
    ViewBag.Title = "Home";
}


<header class="masthead text-center text-white d-flex">
    <div class="CGVHome">
        <h1><strong>C.GUNNARSSONS VERKSTAD AB</strong></h1>
        <hr>
        <p>C.Gunnarssons Verkstads AB utvecklar och producerar utrustning för</p>
        <p> virkeshantering med modern teknologi och genuint kunnande.</p>
        
    </div>
</header>


<section class="container group" id="newsPart">

    <div class="left">
        <h1>Kontakta oss!</h1>
        <p>C.Gunnarssons Verkstads AB har huvudkontor med administration,</p>
        <p>produktion, mekanisk konstruktion och försäljning i Vislanda.</p>
        <p></p>
        <p>Adress:</p>
        <p>C.Gunnarssons Verkstads AB</p>
        <p>Olvägen 22</p>
        <p>34250 Vislanda</p>
        <p></p>
        <p>I Växjö finns automationsavdelningen med programmering och support.</p>
        <p></p>
        <p>Adress:</p>
        <p>C.Gunnarssons Verkstads AB</p>
        <p>Automationsavdelning</p>
        <p>Arabygatan 11</p>
        <p>352 46 Växjö</p>
    </div>

    <div class="right">
        <div class="news-widget">
            <h1 id="newsHeader"><strong>Nyheter</strong></h1>
            <hr id="newsHR">
            <a href="#">Uppstart i Estland</a>
            <p>Skriven 2016-08-05 10:37 av admin</p>

            <a href="#">Eftermarknad</a>
            <p>Skriven 2015-08-28 12:07 av admin</p>

            <p>Ulrik förstärker CGV på eftermarknad.</p>

            <a href="#">Läs mer</a>
        </div>
    </div>
</section>

<section id="råsortering">
    <div id="råsort">
        <h1 id="h1Padding"><strong>Råsortering</strong></h1>
        <a href="#">Intag</a>
        <p></p>
        <a href="#">Enstyckmatare</a>
        <p></p>
        <a href="#">Mät och optimering</a>
        <p></p>
        <a href="#">Kapsystem</a>
        <p></p>
        <a href="#">Anslag</a>
        <p></p>
        <a href="#">Trimmer</a>
        <p></p>
        <a href="#">Fack</a>
        <p></p>
        <a href="#">Sjunkfack</a>
        <p></p>
        <a href="#">Hyllfack</a>
        <p></p>
        <a href="#">Ströläggning</a>
        <p></p>
        <a href="#">Ströhantering</a>
    </div>
</section>

<section id="justerverkHyvleri">
    <h1 id="h1Padding"><strong>justerverk/hyvleri</strong></h1>
    <p>Under dom senaste åren har det skett stora förändringar när det gäller slut sorteringen på sågverken.</p>
    <p></p>
    <p>En viktig faktor är de alltmer kompetenta mät och skanner systemen som idag finns på marknaden.</p>
    <p>Med dessa system tar man bort begränsningen som människan har för att sortera virke och sorteringen blir helt konsekvent oavsett hur länge man kör.</p>
    <p></p>
    <p>Det har även byggts ett antal högkapacitets hyvlerier i Sverige som CGV har fått förmånen att leverera till Vida Vislanda, Södra Timber Långasjö och Holmen Timber Braviken.</p>
    <p></p>
    <p>Istället för att köra produktionen igenom ett justerverk plus en eller flera mindre hyvellinjer, kör man istället produktionen igenom ett justerverk där en hyvel integreras i flödet.</p>
    <p></p>
    <p>Denna typ av anläggningar har funnits under många i Nord-Amerika och Europa och är framför allt lämplig för produktion av konstruktionsvirke.</p>
    <p id="justerverkPadding">CGV har vidareutvecklat detta koncept och anpassat det till nordiska förhållanden.</p>
</section>

<section id="automation">
    <h1 id="h1Padding"><strong>Automation</strong></h1>
    <p>CGV har sedan 1960-talet levererat styrningar till våra maskiner.</p>
    <p>Fram till 1980-talet handlade det oftast om relä för att styra maskiner, till sorteringsstyrning köptes det mestadels in något specialsystem.</p>
    <p></p>
    <p>1980 började CGV använda PLC-system från Satt-Control och 1985 övergick vi till Simatic S5.</p>
    <p>Efterhand som anläggningarna blev mer komplexa så ökade behovet av kraftfullare styrsystem, och redan 1996 började vi använda Simatic S7.</p>
    <p></p>
    <p>Kraven på styrsystemens prestanda ökar ständigt, då detta står i direkt relation med maskinens kapacitet.</p>
    <p>2005 började vi undersöka marknaden efter system som vi ansåg lämpligt för att styra sorterings-anläggningar.</p>
    <p>Efter en gedigen undersökning beslöt vi att gå över till en PC-baserad lösning från Beckhoff Automation GmbH.</p>
    <p></p>
    <p>Det koncept som CGV arbetat fram ligger definitivt i framkant med vad som finns tillgängligt på marknaden idag.</p>
    <p>För våra kunder innebär det att maskinerna har tillgång till kraftfulla styrsystem som kan utvecklas med maskinen.</p>
</section>

<section id="eftermarknad">
    <h1 id="h1Padding"><strong>Eftermarknad</strong></h1>
    <p>Skall man undvika onödiga driftstopp är det naturligt att jobba med ett förebyggande underhåll.</p>
    <p>Då kan man i god tid byta ut delar som är slitna och därigenom undvika haverier.</p>
    <p>Med dokumentationen till maskiner som levereras, medföljer reservdelslistor som gör det enklare att beställa rätt reservdel.</p>
    <p>För att beställa reservdelar mejlar ni enklast till <a href="#">aftermarket@cgv.se</a>.</p>
    <p></p>
    <a href="#">Behöver man en personlig kontakt, kan ni kontakta Ulrik Gustafsson på telefon eller mejl.</a>
    <p></p>
    <p>Man kan även boka besiktning eller servicebesök av CGV för att få förslag på lämpligt underhåll eller uppgradering.</p>
    <p>Detta är ofta en bra ide då service personalen kanske har erfarenhet från liknande anläggningar och då kan ge förslag på förbättringar.</p>
    <p>Skall man undvika onödiga driftstopp är det naturligt att jobba med ett förebyggande underhåll.</p>
    <p>Då kan man i god tid byta ut delar som är slitna och därigenom undvika haverier.</p>
    <p>Med dokumentationen till maskiner som levereras, medföljer reservdelslistor som gör det enklare att beställa rätt reservdel.</p>
    <p>För att beställa reservdelar mejlar ni enklast till <a href="#">aftermarket@cgv.se</a>.</p>

</section>

<section id="omCGV">
    <p>hejsan</p>
</section>
