
@{
    ViewBag.Title = "Home";
}


<header>

        <h2>Home</h2>
        <p>
            C.Gunnarssons Verkstads AB kommer fortsätta att utveckla och producera
            utrustning för virkeshantering med modern teknologi och genuint kunnande,
        </p>


</header>

<section class="part" id="newsPart">
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper lorem erat, gravida accumsan odio euismod in. Vivamus sapien nunc, volutpat quis orci in, sodales fringilla eros. Etiam pulvinar magna diam, vel convallis nisl convallis euismod. Nam lobortis elit quis eros auctor imperdiet. Morbi dui lectus, viverra sed laoreet a, varius vitae lacus. Morbi pellentesque nec elit nec bibendum. Cras eget viverra est. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod ornare nisl, nec faucibus ex accumsan vitae. Sed ultricies, justo semper maximus accumsan, eros ex maximus risus, id cursus libero eros vel ante. Cras eu lectus ac leo efficitur consectetur. Proin eu finibus nulla, non tempor lacus. Duis interdum, ex ut aliquam rutrum, arcu nibh efficitur neque, ut volutpat felis massa eget justo.

    </div>
</section>

