body {
}

.body-content {
    text-align: left;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

header {
    color: white;
    background-image: url("Images/header.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 50px;
}

#newsPart{
    border: 1px black;
    height: 100%;
    position:page;
    width: 100%;
}