*{
    border-style: none;
    border: none;
    padding-bottom: 0;
}
p{
    margin:0;
}
body {
    background-color: whitesmoke;
}

h1 {
    font-size: 70px;
    margin: 0;
}

hr {
    max-width: 38em;
    border-width: 5px;
    border-color: #4267b2;
}

.body-content {
    text-align: center;
    font-size: 1.55em;
    font-weight: bold;
    color: black;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse{
    background-color: transparent;
    transition: all 0.25s ease;
    color: white;
    border: none;
    text-align:center;
    margin: 0 auto;
}
.past-main{
    background-color: white;
    color: black;
}
.navbar-inverse .navbar-nav > li > a {
    font-size: 1.8em;
    color: white;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: darkgrey;
}

.past-main .navbar-nav > li > a {
    color: black;
}

a{
    color: black;
}

header {
    color: white;
    background-image: url(Images/planks1.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 50px;
    height: 100vh;
    border-style: none;
    background-size: 100% 100%;
    -moz-box-shadow: inset 10px 10px 50px #fff;
    -webkit-box-shadow: inset 10px 10px 50px #fff;
    box-shadow: inset 0px 70px 400px #000;
}



.CGVHome {
    padding-top: 18%;
    border-style: none;
    font-size: larger;
}

#newsPart {
    height: 100%;
    width: 100%;
    color: black;
    background-color: whitesmoke;
}

#råsortering {
    border-style: none;
    width:100%;
    background: white;
}

#justerverkHyvleri {
    background-color: #4267b2;
    color: white;
}

#automation {
    background-color: white;
    border-style: none;
}

img{
    height: 100px;
}

.navbar-right {
    padding: 25px;
}
#eftermarknad {
    background-image: url(Images/ulrik-helbild.jpg);
    border-style: none;
}

#justerverkPadding{
    padding-bottom: 20px;
}

#h1Padding{
    padding-top: 15px;
}

#omCGV{
    background-color:red;
}


.left {
    width: 66%;
    float: left;
    padding-right: 5%;
    padding-top: 64px;
    padding-bottom: 80px;
}

.right {
    float: right;
    width: 34%;
    margin-bottom: 60px;
    border: solid 1px #dfdfdf;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0 35px 35px;
    margin-top: 102px;
    background-color: white;
}

#newsHR{
    border-color:black;

}

.mainFooter {
    
    position: unset;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 200px;
}


.mainFooter a{
    color: white;
}
.glyphicon glyphicon-earphone{
    padding-right:20px;
}
.glyphicon glyphicon-envelope{
    padding-right:20px;
}

#col1 {
    padding-top: 60px;
}
#col2{
    padding-top:60px;
   
}
#col2 p {
    padding-bottom: 10px;
    
}
#col3{
    padding-top: 60px;
}
.footerHR {
    border-width: 1px;
    border-color: grey;
    max-width: 200px;
}
.adress{
    text-align: left;
    padding-left: 105px;
}
.info {
    text-align: left;
    padding-left: 85px;
}
