body {
}

.body-content {
    text-align: left;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.part{
    color:white;
    height: 1000px;
}

.navbar-default{
    background-color: transparent;
    transition: all 0.25s ease;
    color: white;
    border: none;
    font-size: larger;
}

.past-main{
    background-color: white;
    color: black;
}

header {
    color: white;
    background-image: url("Images/header.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 50px;
    height: 100vh;
    text-align: center;
}
.navbar-nav > li > a {
    color: white;
}

#newsPart{
    border: 1px black;
    height: 1000px;
    position:page;
    width: 100%;
    background-color: blue;
}

