@{
    ViewBag.Title = "rasortering";
}
<div style="height: 100px;"></div>
<section class="fluid rasorteringSection ">
 
    <div class="container rasorteringContainer">
        <div class="row">
            <div class="col-lg-3 sideLeft">
                <ul class="menuContent">
                    <h2>Råsortering</h2>
                    <li><a href="#">Intag</a></li>
                    <li><a href="#">Enstyckmatare</a></li>
                    <li><a href="#">Mät och optimering</a></li>
                    <li><a href="#">Kapsystem</a></li>
                    <li><a href="#">Fack</a></li>
                    <li><a href="#">Ströläggning</a></li>
                    <li><a href="#">Ströhantering</a></li>
                </ul>
            </div>
            <div class="col-lg-7 sideRight">
                <strong><h4>Råsortering</h4></strong>
                <p>

                    CGV har idag system och produkter som passar både stora och små sågverk.

                    Vår ambition är att våra konstruktioner skall präglas av en hög innovationsnivå samtidigt som de inte skall vara onödigt komplicerade då det ofta leder till dålig tillgänglighet och höga underhållskostnader.
                </p>
                <br />
                <img src="~/Content/Images/råsort.jpg" />
                <br />
                <p>

                    CGV har idag system och produkter som passar både stora och små sågverk.

                    Vår ambition är att våra konstruktioner skall präglas av en hög innovationsnivå samtidigt som de inte skall vara onödigt komplicerade då det ofta leder till dålig tillgänglighet och höga underhållskostnader.
                </p>
                

            </div>
        </div>

    </div>
    

    

</section>