@{
    ViewBag.Title = "rasortering";
}


<section class="fluid" id="rasorteringSection">

    
   
    <div class="sideLeft">
        <h3>Råsortering</h3>
        <p>C.Gunnarssons Verkstads AB har huvudkontor med administration,</p>
        <p>produktion, mekanisk konstruktion och försäljning i Vislanda.</p>
        <p></p>
        <p>Adress:</p>
        <p>C.Gunnarssons Verkstads AB</p>
        <p>Olvägen 22</p>
        <p>34250 Vislanda</p>
        <p></p>
        <p>I Växjö finns automationsavdelningen med programmering och support.</p>
        <p></p>
        <p>Adress:</p>
        <p>C.Gunnarssons Verkstads AB</p>
        <p>Automationsavdelning</p>
        <p>Arabygatan 11</p>
        <p>352 46 Växjö</p>



    </div>
   
    <div class="sideRight"><p>höger sida</p></div>
</section>

